@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1>Welcome to the Restaurant</h1>
    <p>We’re passionate about bringing people together through exceptional food, warm hospitality, and a memorable dining experience. Whether you're here for a family dinner, a special celebration, or just a quick bite, we have something for everyone.</p>
    <div class="row">

    </div>

   
</div>

