@model Booking

<h2>Book a Table</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="Name">Your Name</label>
        <input type="text" class="form-control" id="Name" name="customerRequest.Name" required />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="customerRequest.Email" required />
    </div>

    
    <div class="form-group">
        <label asp-for="FK_TableId">Table Number</label>
        <input asp-for="FK_TableId" class="form-control" />
        <span asp-validation-for="FK_TableId" class="text-danger"></span>
    </div>

   @*  <div class="form-group">
        <label for="CustomerAmount">Number of People</label>
        <input type="number" class="form-control" id="CustomerAmount" name="booking.CustomerAmount" required />
    </div>  *@
    <div class="form-group">
        <label asp-for="CustomerAmount">Party size</label>
        <input asp-for="CustomerAmount" class="form-control" />
        <span asp-validation-for="CustomerAmount" class="text-danger"></span>
    </div>

   @*  <div class="form-group">
        <label for="BookingDate">Booking Date</label>
        <input type="datetime-local" class="form-control" id="BookingDate" name="booking.BookingDate" required />
    </div> *@
    <div class="form-group">
        <label asp-for="BookingDate">Booking Date</label>
        <input asp-for="BookingDate" type="date" class="form-control" />
        <span asp-validation-for="BookingDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Book Table</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
